.individual-category-container{
margin-right: 2%;
margin-bottom:10px;
text-align:center;
}
.category-image{
    width:225px;
    height:300px;
}
.individual-category-container p {
max-width:225px;
height:44px;
font-size:15px;
font-weight:bold;
}

.categories-container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

.multiple-selector{
    display:flex;
}

.selectable-ul{
    height:200px;
    overflow-y:auto;
    list-style-type:none;
    width:170px;
    padding:0;
    border-radius:3px;
    border: 1px solid #ccc;
}

.selectable-ul li {
    cursor:pointer;
    border-bottom:1px #eee solid;
    padding: 2px 10px;
    font-size:14px;
}
.selectable-ul li:hover{
    background-color: #08c;
}

.multiple-selector-buttons {
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding:5px;
}
.multiple-selector-buttons button {
    margin:5px;
}