.individual-category-container{
margin-right: 2%;
margin-bottom:10px;
text-align:center;
}
.category-image{
    width:225px;
    height:300px;
}
.individual-category-container p {
max-width:225px;
height:44px;
font-size:15px;
font-weight:bold;
}

.categories-container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
