@page "/categories/search"

<h3>Category Search</h3>

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="title" class="sr-only">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Category Name" @bind-value="title" @bind-value:event="oninput" @onkeypress="@((KeyboardEventArgs e)=>TitleKeyPress(e))" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control" @bind="selectedCategory">
            <option value="0">
                --Select a Category
            </option>
            @foreach (var category in categories)
            {
                <option value="@category.Id">@category.CategoryName</option>
            }
        </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="checkboxId" />
        <label class="form-check-label" for="checkboxId">checkboxId</label>
    </div>
</div>
