<div class="individual-category-container">

</div>

@code {
    [Parameter] public Category Category { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;
    [Parameter] public EventCallback<Category> DeleteCategory { get; set; }

}
